<div id="bills-main">
    <div class="bills-form">
        <div style="display: flex; justify-content: space-between;">
            <h2>Add a Bill</h2>
            <h3 id="viewPayments" onclick="window.location.hash=`payments-main`">View payments</h3>
        </div>
        
        <form id="billForm">
            <label for="billName">Bill Name</label>
            <input type="text" id="billName" name="billName" required>

            <label for="billCtg">Choose category</label>
            <select name="billCtg" id="ctg">
                <option value="housing">Housing</option>
                <option value="transportation">Transportation</option>
                <option value="food">Food</option>
                <option value="utilities">Utilities</option>
                <option value="clothing">Clothing</option>
                <option value="medical/healthcare">Medical/Healthcare</option>
            </select>

            <label for="dueDate">Due Date</label>
            <input type="date" id="dueDate" name="dueDate" required>

            <button type="submit">Add Bill</button>
        </form>

        <h2>Bill History</h2>
        <table id="billsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="billsBody">
                <tr class="no-bills"><td colspan="4">No bills added yet.</td></tr>
            </tbody>
        </table>
    </div>
</div>



