<div id="home-main">
    <h1 id="welcome-tag">Welcome, Username</h1>
    <div class="home-date-selector">
        <label for="home-month">Month:</label>
        <select id="home-month" name="month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12" selected>December</option>
        </select>
        <label for="home-year">Year:</label>
        <select id="home-year" name="year">
            <option value="2025">2026</option>
            <option value="2025" selected>2025</option>
            <option value="2024">2024</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
        </select>
        <button type="button" id="home-date-confirm" class="home-date-confirm-btn">Apply</button>
    </div>
    <div class="home-dashboard">
        <div class="home-dashboard-sub1">
            <div class="home-chart1">
                <h1>Bills</h1>
                <canvas id="billsChart"></canvas>
                <div>
                    <h3>🟢 Paid: &nbsp;<span id="home-paid">1500</span></h3>
                    <br/>
                </div>
            </div>
            <div class="home-chart2">
                <h1>Expense vs Income</h1>
                <canvas id="expenseIncomeChart"></canvas>
                <div>
                    <h3>🟢 Income: &nbsp;<span id="home-income">900</span></h3>
                    <br/>
                    <hr/>
                    <h3>🔴 Expense: &nbsp;<span id="home-expense">1100</span></h3>
                </div>
            </div>
        </div>
        <div class="home-dashboard-sub2">
            <h1>Top Spends</h1>
            <div class="home-dashboard-sub2-content">
                <div class="chart-wrapper">
                <canvas id="topSpendsChart"></canvas>
                </div>
                <div class="home-dashboard-topSpends">
                <!-- <div class="row"><span>Housing</span><span>1100</span></div>
                <div class="row"><span>Utilies</span><span>900</span></div>
                <div class="row"><span>Other</span><span>120</span></div> -->
                </div>
            </div>
        </div>
    </div>
</div>
