<div id="home-main">
    <h1>Welcome, Username</h1>
    <p id="home-time">Time: 20:00:13</p>
    <div class="home-dashboard">
        <div class="home-dashboard-sub1">
            <div class="home-chart1">
                <h1>Bills</h1>
                <canvas id="billsChart"></canvas>
                <div>
                    <h3>🟢 Paid: &nbsp;<span id="home-paid">1500</span></h3>
                    <br/>
                    <hr/>
                    <h3>🟡 Upcoming: &nbsp;<span id="home-upcoming">900</span></h3>
                </div>
            </div>
            <div class="home-chart2">
                <h1>Expense vs Income</h1>
                <canvas id="expenseIncomeChart"></canvas>
                <div>
                    <h3>🟢 Income: &nbsp;<span id="home-income">900</span></h3>
                    <br/>
                    <hr/>
                    <h3>🔴 Expense: &nbsp;<span id="home-expense">1100</span></h3>
                </div>
            </div>
        </div>
        <div class="home-dashboard-sub2">
            <h1>Top Spends</h1>
            <div class="home-dashboard-sub2-content">
                <div class="chart-wrapper">
                <canvas id="topSpendsChart"></canvas>
                </div>
                <div class="home-dashboard-topSpends">
                <div class="row"><span>Electricity</span><span>1100</span></div>
                <div class="row"><span>Water</span><span>900</span></div>
                <div class="row"><span>Other</span><span>120</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
