<div id="home-main">
    <h1>Welcome, Username</h1>
    <div class="home-dashboard">
        <div class="home-dashboard-sub1">
            <div class="home-chart1">
                <canvas id="billsChart"></canvas>
                <h3>Bills</h3>
            </div>
            <div class="home-chart2">
                <canvas id="expenseIncomeChart"></canvas>
                <h3>Expense vs Income</h3>
            </div>
        </div>
        <div class="home-dashboard-sub2">
            <canvas id="topSpendsChart"></canvas>
            <h3>Top Spends</h3>
        </div>
    </div>
</div>
