<div id="payments-main">
    <div class="paymentsWrapper">
        <h2>Payments History</h2>
        <table id="paymentsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Amount</th>
                    <th>Payment Date</th>
                    <th>Bill ID</th>
                    <th>Payment Method</th>
                </tr>
            </thead>
            <tbody id="paymentsBody">
                <tr class="no-payments"><td colspan="4">No payments made yet.</td></tr>
            </tbody>
        </table>
    </div>
</div>