<div id="settings-main">
    <h1 style="text-align: center;color: black;padding:15px;margin-bottom: 24px;">Settings Page</h1>
    <form id="settings-form">
        <fieldset>
            <legend>Theme</legend>
            <label>
                <input type="radio" name="theme" value="light">
                Light
            </label>
            <label>
                <input type="radio" name="theme" value="dark" checked>
                Dark
            </label>
        </fieldset>

        <fieldset>
            <legend>Timezone</legend>
            <select name="timezone" id="timezoneDropdown">
                <option value="Europe/Sarajevo">Europe/Sarajevo</option>
                <option value="America/New_York">America/New York</option>
                <option value="Europe/London">Europe/London</option>
                <option value="Asia/Tokyo">Asia/Tokyo</option>
            </select>
        </fieldset>
    </form>
</div>

